doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Стимол
        link(rel='stylesheet', href='css/style.css')
    body
        div#wrapper
            section.first
                h2 Механизм действия препарата
                div.left-pain
                div.right-pain
            section.second
            div.window
                div.inner
                    div.mitochondriya-first
                    div.mitochondriya-second
                    span.mal.malat-one
                    span.mal.malat-two
                    span.mal.malat-three
                    span.mal.malat-four
                    span.mal.malat-five
                    span.mal.malat-six
                    span.mal.malat-seven
                    span.mal.malat-eight
                    span.mal.malat-nine
                    span.mal.malat-ten
                    span.mal.malat-eleven
                    span.mal.malat-twelve
                    span.mal.malat-thirteen
                    span.citr.citrullin-one
                    span.citr.citrullin-two
                    span.citr.citrullin-three
                    span.citr.citrullin-four
                    span.citr.citrullin-five
                    span.citr.citrullin-six
                    span.citr.citrullin-seven
                    span.citr.citrullin-eight
                    span.citr.citrullin-nine
                    span.citr.citrullin-ten
                    span.citr.citrullin-eleven
                    span.citr.citrullin-twelve
                    span.citr.citrullin-thirteen
                    span.citr.citrullin-fourteen
                    span.radical-over.one
                    span.radical-over.two
                    span.radical-over.three
                    span.radical-over.four
                    span.radical-over.five
                    span.radical-under.one
                    span.radical-under.two
                    span.radical-under.three
                    span.radical-under.four
                    span.radical-under.five
                    div.membrane








